<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTest</servlet-name>
        <servlet-class>LoginTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bmr</servlet-name>
        <servlet-class>Bmr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BmrTest</servlet-name>
        <servlet-class>BmrTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DietForm</servlet-name>
        <servlet-class>DietForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorForm</servlet-name>
        <servlet-class>DoctorForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfterLogin</servlet-name>
        <servlet-class>AfterLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AskQuestion</servlet-name>
        <servlet-class>AskQuestion.AskQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AskQuestion1</servlet-name>
        <servlet-class>AskQuestion1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpertContact</servlet-name>
        <servlet-class>ExpertContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forget</servlet-name>
        <servlet-class>Forget</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTest</servlet-name>
        <url-pattern>/LoginTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bmr</servlet-name>
        <url-pattern>/Bmr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BmrTest</servlet-name>
        <url-pattern>/BmrTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DietForm</servlet-name>
        <url-pattern>/DietForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorForm</servlet-name>
        <url-pattern>/DoctorForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfterLogin</servlet-name>
        <url-pattern>/AfterLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AskQuestion</servlet-name>
        <url-pattern>/AskQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AskQuestion1</servlet-name>
        <url-pattern>/AskQuestion1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpertContact</servlet-name>
        <url-pattern>/ExpertContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forget</servlet-name>
        <url-pattern>/Forget</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
